.container {
  width: min(100% - 32px, var(--container-width));
  margin-inline: auto;
}

.container-fluid {
  width: min(100% - 32px, 100%);
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.section {
  padding: 100px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title span {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--primary);
  font-weight: 600;
  letter-spacing: 1px;
}

.section-title h2 {
  max-width: 700px;

  margin-inline: auto;
  margin-bottom: 16px;
}

.section-title p {
  max-width: 700px;

  margin-inline: auto;
}

.section-sm {
  padding: 60px 0;
}

.section-lg {
  padding: 140px 0;
}

.section-dark {
  background: var(--dark);
  color: var(--white);
}
main {
  padding-top: 70px;
}
