.section {
  padding-block: 100px;
}

.section-sm {
  padding-block: 80px;
}

.section-lg {
  padding-block: 140px;
}

.section-header {
  margin-bottom: 60px;
}

.section-title {
  max-width: 700px;
}

.section-title span {
  display: inline-flex;

  margin-bottom: 16px;

  color: var(--primary);

  font-weight: 600;

  letter-spacing: 0.08em;

  text-transform: uppercase;
}

.section-title h2 {
  margin-bottom: 20px;

  color: var(--text-heading);
}

.section-title p {
  color: var(--text-body);
}
