/* =========================================
   REVEAL
========================================= */

.reveal,
.fade-left,
.fade-right {
  opacity: 0;

  transition: all 1s ease;
}

/* FADE UP */

.reveal {
  transform: translateY(60px);
}

.reveal.active {
  opacity: 1;

  transform: translateY(0);
}

/* FADE LEFT */

.fade-left {
  transform: translateX(-80px);
}

.fade-left.active {
  opacity: 1;

  transform: translateX(0);
}

/* FADE RIGHT */

.fade-right {
  transform: translateX(80px);
}

.fade-right.active {
  opacity: 1;

  transform: translateX(0);
}
