.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 52px;

  padding: 0 32px;

  border-radius: 14px;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s ease;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  transform: translateY(-2px);

  background: var(--primary-dark);

  box-shadow: 0 10px 25px rgba(43, 99, 217, 0.2);
}

.btn-outline {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-outline:hover {
  color: var(--white);

  transform: translateY(-2px);

  background: var(--primary-dark);

  box-shadow: 0 10px 25px rgba(43, 99, 217, 0.2);
}
