.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 14px 28px;

  border-radius: var(--radius-md);

  transition: var(--transition);

  font-weight: 600;
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  background: var(--primary-dark);
}

.btn-outline {
  border: 1px solid var(--white);
  color: var(--white);
}
