.btn {
  display: inline-flex;

  align-items: center;

  justify-content: center;

  height: var(--btn-height);

  padding-inline: var(--btn-padding-x);

  border-radius: var(--btn-radius);

  font-size: var(--btn-font-size);

  font-weight: 600;

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-0.5px);
}

.btn:active {
  transform: translateY(0);
}

.btn-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-primary:hover {
  transform: translateY(-2px);

  background: var(--primary-dark);

  box-shadow: 0 10px 25px rgba(43, 99, 217, 0.2);
}

.btn-outline {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-outline:hover {
  color: var(--white);

  transform: translateY(-2px);

  background: var(--primary-dark);

  box-shadow: 0 10px 25px rgba(43, 99, 217, 0.2);
}
